[data-testid='metric-container'] {
  box-shadow: 0 0 4px #686664;
  padding: 10px;
}

.st-emotion-cache-yw8pof {
  width: 100%;
  padding: 5rem;
  padding-top: 3rem;
  max-width: 100%;
}

.st-emotion-cache-p38tq {
  font-size: 2.5rem;
  color: rgb(49, 51, 63);
  padding-bottom: 1rem;
  text-align: center;
}

.plot-container > div {
  box-shadow: 0 0 2px #070505;
  padding: 0px;
  border-color: #000000;
}

div[data-testid='stExpander'] div[role='button'] p {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  border-color: #000000;
  color-scheme: #000000;
}

.sidebar-content {
  color: white;
}

[data-testid='stSidebar'] {
  color: white;
}
